html{
	height:60% !important;
}
body{
	background: url("img/background_img_black-white.jpg") !important;
	background-size: 103% !important;
	background-position: 30% 25% !important;
	font:14px/1.3 'Segoe UI',Arial, sans-serif;	
}
.navbar-inverse {
	background-color: rgba(34, 34, 34, 0.49);
	border-color: #080808;
}

.navbar-inverse .navbar-link {
	color: #c4c4c4;
}

.navbar-inverse .navbar-brand {
	color: #D1D1D1;
  }
.navbar-inverse .navbar-text {
	color: #d1d1d1;
}
.navbar-inverse .navbar-nav > li > a {
	color: #d1d1d1;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: rgba(8, 8, 8, 0.75);
}
.navbar-btn{
    position:absolute;
    bottom: 10px;
}

.col-md-12 col-md-offset-5{
  display:flex;
}

#MissionJumbo{
	border: 1px solid #505050;
	padding-top: 2px;
	padding-left: 10px;
	padding-bottom: 10px; 
	background-color: rgba(0, 0, 0, 0.75);
	border-color: #080808;
	border-radius: 25px;
	color: #ffffff;
    width: 50%;
	text-align: center;
	margin: auto;
}

li {
	text-align: left;
}

#AboutJumbo{
	position: fixed;
	left: 0;
	border: 1px solid #505050;
	padding: 20px 20px;
	padding-bottom: 10px; 
	background-color: rgba(0, 0, 0, 0.75);
	border-color: #080808;
	border-radius: 25px;
	color: #ffffff;
    width: 25%;
	text-align: left;
	margin: auto;
}

#AboutJumbo2{
	border: 1px solid #505050;
	padding: 20px 20px;
	padding-bottom: 10px; 
	background-color: rgba(0, 0, 0, 0.75);
	border-color: #080808;
	border-radius: 25px;
	color: #ffffff;
    width: 25%;
	text-align: left;
	margin: auto;
}
#AboutJumbo3{
	top:290px;
	position: fixed;
	right: 0;
	border: 1px solid #505050;
	padding: 20px 20px;
	padding-bottom: 10px; 
	background-color: rgba(0, 0, 0, 0.75);
	border-color: #080808;
	border-radius: 25px;
	color: #ffffff;
    width: 25%;
	text-align: left;
	margin: auto;
}

#upper_content {
	padding-top: 0 !important;
	color: rgba(255,255,255,.9) !important;
	text-align: center;
}

#button_cols {
	display: inline !important;
	-webkit-column-count: 2 !important;
    -moz-column-count: 2 !important;
    column-count: 2 !important;
}

#lower_content {
	padding-top: 2% !important;
	color: rgba(255,255,255,.9) !important;
	text-align: center;
	font:18px/30px 'Segoe UI Light','Segoe UI',Arial,sans-serif;
}

#lower_message {
	border: 1px solid #505050;
	padding: 5px 20px;
	padding-bottom: 10px; 
	background-color: rgba(0, 0, 0, 0.90);
	border-color: #080808;
    width: 60%;
	text-align: center;
	margin: auto;
}

#sidebar-right {
	top: 139px !important;
}

#sidebar-left {
	top: 139px !important;
}

.footer {
    position: fixed !important;
	bottom: 0;
	left: 0;
    width: 100% !important;
    height: 60px;
    line-height: 60px;
	background-color: rgba(0, 0, 0, 0.90);
	border-top: 1px solid white;
	color: white;
	text-align: center;
}
