html{
	height:60%;
}
body{
	background: url("img/background_img_black-white.jpg");
	background-size: 103%;
	background-position: 30% 25%;
}

.navbar-inverse {
	background-color: rgba(34, 34, 34, 0.49);
	border-color: #080808;
}

.navbar-inverse .navbar-link {
	color: #c4c4c4;
}

.navbar-inverse .navbar-brand {
	color: #D1D1D1;
  }
.navbar-inverse .navbar-text {
	color: #d1d1d1;
}
.navbar-inverse .navbar-nav > li > a {
	color: #d1d1d1;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: rgba(8, 8, 8, 0.75);
}

.padder{
	padding-top:100px;
}

.pad_50{
	padding-top:50px;
}

.pad_10{
	padding-top:10px;
}

.jumbotron{
	border: 1px solid #505050;
	padding: 10px 40px;
	padding-bottom: 30px; 
	background-color: rgba(0, 0, 0, 0.75);
	border-color: #080808;
	color: #ffffff;
    width: 50%;
    border-radius: 25px;
	text-align: center;
	margin: auto;
}

.jumbotron2{
	border: 1px solid #505050;
	padding: 10px 10px;
	padding-bottom: 10px; 
	background-color: rgba(0, 0, 0, 0.75);
	border-color: #080808;
	border-radius: 25px;
	color: #ffffff;
    width: 60%;
	text-align: center;
	margin: auto;
}

.multi_cols {
	display: inline;
	-webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

#col {
	-webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.side_picture {
	border-radius: 25px;
	margin: 10px;
	float: left;
	border: 3px solid #000000;
	overflow: hidden;
	position: relative;
	text-align: center;
	-webkit-box-shadow: 1px 1px 2px #1D1D1D;
	-moz-box-shadow: 1px 1px 2px #1D1D1D;
	box-shadow: 1px 1px 2px #1D1D1D;
}

.side_panel {
	height:350px;
	width:600px;
	border-radius: 25px;
	padding: 10px 20px 5px 20px;
	margin: 10px;
	float: left;
	border: 3px solid #000000;
	overflow: hidden;
	position: relative;
	text-align: center;
	font-size: 15px;
	background-color: rgba(255, 255, 255, 1.0);
	-webkit-box-shadow: 1px 1px 2px #1D1D1D;
	-moz-box-shadow: 1px 1px 2px #1D1D1D;
	box-shadow: 1px 1px 2px #1D1D1D;
}

.side_panel_alt {
	height:275px;
	width:600px;
	border-radius: 25px;
	padding: 10px 20px 5px 20px;
	margin: 10px;
	float: left;
	border: 3px solid #000000;
	overflow: hidden;
	position: relative;
	text-align: center;
	font-size: 15px;
	background-color: rgba(255, 255, 255, 1.0);
	-webkit-box-shadow: 1px 1px 2px #1D1D1D;
	-moz-box-shadow: 1px 1px 2px #1D1D1D;
	box-shadow: 1px 1px 2px #1D1D1D;
}

h1 {
	font-size: 5em;
	text-shadow: 2px 2px 4px #000000;
}

div h3{
	text-align: center;
}

hr {
	border-color:black;
}

#buybutton {
	opacity:0.9;

	width: 200px;
	height:50px;
	cursor:pointer;
	border-radius:6px;
	box-shadow:0 1px 1px #888;
	border:none;
	color:#fff;
	/*font:14px/36px 'Segoe UI Light','Segoe UI',Arial,sans-serif;*/
	
	/* CSS3 Gradients */
	
	background-image: linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
	background-image: -o-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.5, #2f5597),
		color-stop(0.5, #3F6099),
		color-stop(1, #C7D3E6)
		);
}

#buybutton:hover {
	opacity: 1;
}
