html{
	height:60% !important;
}

body{
	background: url("img/background_img_black-white.jpg") !important;
	background-size: 103% !important;
	background-position: 30% 25% !important;
	font:14px/1.3 'Segoe UI',Arial, sans-serif;		
}
a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

input::-webkit-input-placeholder {
	color: #000000 !important;
}

.navbar-inverse {
	background-color: rgba(34, 34, 34, 0.49);
	border-color: #080808;
	font:14px/1.3 'Segoe UI',Arial, sans-serif;			
}

.navbar-inverse .navbar-link {
	color: #c4c4c4;
}

.navbar-inverse .navbar-brand {
	color: #D1D1D1;
  }
.navbar-inverse .navbar-text {
	color: #d1d1d1;
}
.navbar-inverse .navbar-nav > li > a {
	color: #d1d1d1;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: rgba(8, 8, 8, 0.75);
}

#padder {
	padding-top: 5px;
}
h1 {
	text-align: center;
}
h3 {
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.2),
				 0px 18px 23px rgba(0,0,0,0.2);
}
/* -----------------------
   		Spacing
   -----------------------*/

#formContainer{
	width:600px;
	height:600px;
	margin:0 auto;
	position:relative;
	z-index:1;
	
	-moz-perspective: 800px;
	-webkit-perspective: 800px;
	perspective: 800px;
}

#formContainer form{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	
	/* Enabling 3d space for the transforms */
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	
	/* When the forms are flipped, they will be hidden */
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	
	/* Enabling a smooth animated transition */
	-moz-transition:0.8s;
	-webkit-transition:0.8s;
	transition:0.8s;
	
	/* Configure a keyframe animation for Firefox */
	-moz-animation: pulse 2s infinite;
	
	/* Configure it for Chrome and Safari */
	-webkit-animation: pulse 2s infinite;
}


/* Firefox Keyframe Animation */
@-moz-keyframes pulse{
	0%{		box-shadow:0 0 1px #ffffff;}
	50%{	box-shadow:0 0 50px #ffffff;}
	100%{	box-shadow:0 0 1px #ffffff;}
}

/* Webkit keyframe animation */
@-webkit-keyframes pulse{
	0%{		box-shadow:0 0 1px #ffffff;}
	50%{	box-shadow:0 0 50px #ffffff;}
	100%{	box-shadow:0 0 1px #ffffff;}
}

#login{
	background:url('img/signup_form4.jpg') no-repeat;
	z-index:100;
}

#recover{
	/* background:url('img/recover_form_2.0.jpg') no-repeat;  */
	z-index:1;
	opacity:0;
	
	/* Rotating the recover password form by default */
	-moz-transform:rotateY(180deg);
	-webkit-transform:rotateY(180deg);
	transform:rotateY(180deg);
}

#formContainer.flipped #login{
	
	opacity:0;
	
	/**
	 * Rotating the login form when the
	 * flipped class is added to the container
	 */
	
	-moz-transform:rotateY(-180deg);
	-webkit-transform:rotateY(-180deg);
	transform:rotateY(-180deg);
}

#formContainer.flipped #recover{
	
	opacity:1;
	
	/* Rotating the recover div into view */
	-moz-transform:rotateY(0deg);
	-webkit-transform:rotateY(0deg);
	transform:rotateY(0deg);
}


/*----------------------------
	Inputs, Buttons & Links
-----------------------------*/


#login .flipLink,
#recover .flipLink{
	
	/* The blue ribbon links */
	
	height: 65px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 0;
    width: 65px;
}

#recover .flipLink{
	right:auto;
	left:0;
}

input[type=name] {
	/* The text fields */
	font: 15px 'Segoe UI',Arial,sans-serif;
	border: none;
	background:none;
	height: 36px;
	left: 26px;
	position: absolute;
	top: 176px;
	width: 160px;
	text-indent: 8px;
	padding: 2px 20px 2px 2px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	color:#000000;
	outline:none;
}

input[type=addr] {
	/* The text fields */
	font: 15px 'Segoe UI',Arial,sans-serif;
	border: none;
	background:none;
	height: 36px;
	left: 26px;
	position: absolute;
	top: 176px;
	width: 225px;
	text-indent: 8px;
	padding: 2px 20px 2px 2px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	color:#000000;
	outline:none;
}

input[type=zip] {
	/* The text fields */
	font: 15px 'Segoe UI',Arial,sans-serif;
	border: none;
	background:none;
	height: 36px;
	left: 26px;
	position: absolute;
	top: 176px;
	width: 95px;
	text-indent: 8px;
	padding: 2px 20px 2px 2px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	color:#000000;
	outline:none;
}

input[type=city] {
	/* The text fields */
	font: 15px 'Segoe UI',Arial,sans-serif;
	border: none;
	background:none;
	height: 36px;
	left: 26px;
	position: absolute;
	top: 176px;
	width: 140px;
	text-indent: 8px;
	padding: 2px 20px 2px 2px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	color:#000000;
	outline:none;
}

input[type=state] {
	/* The text fields */
	font: 15px 'Segoe UI',Arial,sans-serif;
	border: none;
	background:none;
	height: 36px;
	left: 26px;
	position: absolute;
	top: 176px;
	width: 65px;
	text-indent: 8px;
	padding: 2px 20px 2px 2px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	color:#000000;
	outline:none;
}

input[type=country] {
	/* The text fields */
	font: 15px 'Segoe UI',Arial,sans-serif;
	border: none;
	background:none;
	height: 36px;
	left: 26px;
	position: absolute;
	top: 176px;
	width: 95px;
	text-indent: 8px;
	padding: 2px 20px 2px 2px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	color:#000000;
	outline:none;
}

input[type=text],input[type=password],input[type=email], input[type="Confirm Email"] {
	/* The text fields */
	font: 15px 'Segoe UI',Arial,sans-serif;
	border: none;
	background:none;
	height: 36px;
	left: 26px;
	position: absolute;
	top: 176px;
	width: 350px;
	text-indent: 8px;
	padding: 2px 20px 2px 2px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	color:#000000;
	outline:none;
}

input:required:invalid, input:focus:invalid {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC);
    background-position: right center;
    background-repeat: no-repeat;
    -moz-box-shadow: none;
  }
  input:required:valid {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=);
    background-position: right center;
    background-repeat: no-repeat;
  }


#first {
	top: 135px;
	left: 125px;
}

#lastName {
	top: 135px;
	left: 315px;
}

#addr {
	left: 125px;	
}

#zip {
	left: 380px;	
}

#city {
	top: 215px;
	left: 125px;
}

#state {
	top: 215px;
	left: 285px;
}

#country {
	top: 215px;
	left: 380px;
}

#address {
	top: 255px;
	left: 125px;
}

#con_address {
	top: 295px;
	left: 125px;
}

#username {
	top: 335px;
	left: 125px;
}

#password {
	top: 375px;
	left: 125px;
}

#con_Password {
	top: 415px;
	left: 125px;
}

#inner_content ul {
	position: absolute;
	top: 465px;
	font: 15px 'Segoe UI',Arial,sans-serif;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	color:#eee;
	left: 125px;
}

#inner_content input {
	left: 400px;
}

input[type=submit]{
	
	/* Submit button */
	
	opacity:0.9;
	position:absolute;
	top:515px;
	left:190px;
	width: 239px;
	height:36px;
	cursor:pointer;
	border-radius:6px;
	box-shadow:0 1px 1px #888;
	border:none;
	color:#fff;
	font:14px/36px 'Segoe UI Light','Segoe UI',Arial,sans-serif;
	
	/* CSS3 Gradients */
	
	background-image: linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
	background-image: -o-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.5, #2f5597),
		color-stop(0.5, #3F6099),
		color-stop(1, #C7D3E6)
	);
}

input[type=submit]:hover{
	opacity:1;
}

input::-webkit-input-placeholder {
    color:#eee;
}

ul li {
    display: inline-block;
}

#signupbutton:hover {
	opacity: 1;
}

.modal {
	top: 20px;
}

.modal-content {
	overflow: auto;
    position: absolute;
}

label button {
	opacity:0.9;

	width: 175px;
	height:30px;
	cursor:pointer;
	border-radius:6px;
	box-shadow:0 1px 1px #888;
	border:none;

	color:#ffffff;	
	background-color:#2f5597;
}

label {
	color:#ffffff;
}

.footer {
    position: fixed;
	bottom: 0;
	left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
	background-color: rgba(0, 0, 0, 0.90);
	border-top: 1px solid white;
	color: white;
	text-align: center;
}